.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 20px;
  z-index: 1;
  background-color: #000;
  transform: translateX(0);
  transition: transform 300ms ease-in;
  &.hidden {
    transform: translateX(-105%);
  }
  &__close {
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 6px;
    background-color: transparent;
    border: 1px solid transparent;
    fill: #ffffff;
    &-icon {
      display: block;
      width: 3dvh;
      height: 3dvh;
    }
  }
  &__header {
    padding-top: calc(3dvh + 4px);
    padding-bottom: calc(3dvh - 2px);
    border-bottom: 1px solid #fff;
    &-text {
      font-size: 3dvh;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &__content {
    height: calc(80dvh);
    &-title {
      margin-bottom: 3dvh;
      font-size: 5dvh;
      font-weight: 400;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}
