.hidden{
    transform: translate(-105%);
}
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: 20px 60px 50px;
  background-color: #000000;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  &__move {
    &-icon {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
  &__video {
    &-icon {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
  &__move,
  &__video {
    display: flex;
    gap: 20px;
  }
}
.btn {
  padding: 6px;
  border: 1px solid #6991ef;
  border-radius: 50%;
  fill: #6991ef;
  transform: scale(1);

  &:active {
    border: 1px solid #f7f49c;
    fill: #f7f49c;
    transform: scale(1.3);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  &-pult {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    height: 15vw;
    padding: 16px;
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    box-shadow: 1px 1px 10px 5px inset #ffffffbf;

    color: #fff;
    &__btn {
      display: block;
      background-color: transparent;
      border: 1px solid transparent;
      fill: #fff;
      &:active {
        fill: #f7f49c;
        transform: scale(1.3);
      }
    }
    &__icon {
      display: block;
      width: 20px;
      height: 20px;
    }
    &__centerline {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
