.swiper {
  width: calc(100% - 20px);
  color: #fff;
  &-slide {
    width: calc(((100vw - 150px)) / 3);
    height: auto;

    &__thumb {
      margin-bottom: 3dvh;
      border: 1px solid #fff;
    }
    &__icon {
      display: block;
      width: 100%;
      height: auto;
    }
    &__title {
      margin-bottom: 10px;
      font-size: 4dvh;
    }
    &__text {
      color: #c4c4c4;
    }
  }
}
