<div class="header">
  <div class="header__move">
    <button class="header__move-btn up btn" type="button">
      <svg class="header__move-icon">
        <use href="./img/icons.svg#icon-up-arrow"></use>
      </svg>
    </button>
    <button class="header__move-btn mode btn" type="button">
      <svg class="header__move-icon">
        <use href="./img/icons.svg#icon-drone"></use>
      </svg>
    </button>
  </div>
  <div class="header__video">
    <button class="header__video-btn start btn" type="button">
      <svg class="header__video-icon">
        <use href="./img/icons.svg#icon-video"></use>
      </svg>
    </button>
    <button class="header__video-btn end btn" type="button">
      <svg class="header__video-icon">
        <use href="./img/icons.svg#icon-stop"></use>
      </svg>
    </button>
  </div>
</div>
