<div class="modal hidden">
  <div class="modal__header">
    <button class="modal__close" type="button">
      <svg class="modal__close-icon">
        <use href="./img/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p class="modal__header-text">flight mode</p>
  </div>
  <div class="modal__content">
    <h2 class="modal__content-title">flight mode</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__thumb">
            <svg class="swiper-slide__icon">
              <use href="./img/icons.svg#icon-throw"></use>
            </svg>
          </div>
          <h3 class="swiper-slide__title">Text</h3>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__thumb">
            <svg class="swiper-slide__icon">
              <use href="./img/icons.svg#icon-throw"></use>
            </svg>
          </div>
          <h3 class="swiper-slide__title">Text</h3>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__thumb">
            <svg class="swiper-slide__icon">
              <use href="./img/icons.svg#icon-throw"></use>
            </svg>
          </div>
          <h3 class="swiper-slide__title">Text</h3>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__thumb">
            <svg class="swiper-slide__icon">
              <use href="./img/icons.svg#icon-throw"></use>
            </svg>
          </div>
          <h3 class="swiper-slide__title">Text</h3>
          <p class="swiper-slide__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
